@charset "UTF-8";

body {
    padding: 0px;
    width: 100%;
    height: 100%;
    margin: auto;
    font-family: -apple-system, "Segoe UI", "Helvetica Neue", "Hiragino Kaku Gothic ProN", メイリオ, meiryo, sans-serif;
}

.string {
    display: none;
}

header {
    margin-top: -20px;
    width: 100%;
    height: 50px;
    background-color: #202020;
    text-align: center;
}

#lang-select-container {
    background-color: transparent;
}

#lang-select-container label {
    color: white;
    font-size: small;
}

#wrapper {
    height: auto;
    margin: 0px auto;
}

footer {
    height: 40px;
    border-top: 1px solid gray;
    text-align: center;
    font-size: 14px;
}

header nav ul li {
    list-style-type: none;
    padding: 3px 8px 3px 8px;
    background-color: lavender;
    font-size: 21px;
    font-family: 'Hiragino Kaku Gothic Pro', Meiryo, Arial, 'MS PGothic', sans-serif;
}

header nav a {
    text-decoration: none;
    color: black;
}

header nav ul li a:link {
    color: black;
}

header nav ul li a:visited {
    color: black;
}

header nav ul li a:hover {
    color: white;
}

header nav ul li a:active {
    color: black;
}

div#wrapper {
    width: 100%;
    max-width: 680px;
    height: 250px;
    table-layout: fixed;
}

dl.key-value-data {
    border: 1px solid #E0E0E0;
}

dl.key-value-data > * {
    margin: 0 1px 0 0;
    padding: 7px;
    line-height: 2em;
    background-color: white;
}

dl.key-value-data > dt {
    font-weight: bold;
}

label, input, textarea {
    font-size: 21px;
    font-family: -apple-system, "Segoe UI", "Helvetica Neue", "Hiragino Kaku Gothic ProN", メイリオ, meiryo, sans-serif;
}

input[type="text"], textarea {
    width: 100%;
    box-sizing: border-box;
}

textarea {
    height: 5em;
}

@media (min-width: 701px) {

    header nav {
        margin-left: 260px;
    }

    header nav ul {
        margin-top: 21px;
    }

    header nav ul li {
        display: inline;
        margin-top: 80px;
    }

    header nav ul li a {
        display: inline;
    }

    #wrapper {
        width: 700px;
    }

    h1 {
        text-align: left;
    }

    dl.key-value-data > * {
        display: inline-block;
        max-height: 31px;
    }

    dl.key-value-data > dt {
        width: 114px;
        text-align: right;
        margin-left: 3px;
    }

    dl.key-value-data > dd {
        width: 190px;
        text-align: left;
        margin-right: 3px;
    }

    dl.key-value-data > dt:nth-of-type(4n-1),dd:nth-of-type(4n-1),dt:nth-of-type(4n),dd:nth-of-type(4n) {
        background: #F8F8F8;
    }

    div.button-container {
        text-align: center;
    }

    label, input[type="submit"] {
        display: inline;
    }

    #contact-form-submit {
        margin: 1em 0;
    }

}

@media (max-width: 700px) {

    #wrapper {
        margin-top: 80px;
    }

    #lang-select-container label {
        display: inline;
    }

    header nav {
        margin-top: 0px;
        margin-left: -50px;
    }

    header nav ul li {
        display: block;
    }

    header nav ul li a {
        display: block;
    }

    h1 {
        text-align: center;
    }

    dl.key-value-data > * {
        display: block;
        text-align: center;
        margin: 0 3px;
    }

    dl.key-value-data > *:nth-of-type(even) {
        background: #F8F8F8;
    }

    label, input[type="submit"] {
        display: block;
    }

    label {
        text-align: center;
    }

    input[type="submit"] {
        width: 100%;
        height: 80px;
    }
}
